/* SearchBar.module.css */
.searchForm {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* 필드와 버튼 사이의 간격 추가 */
  padding-bottom: 20px;
}


.searchInput {
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.searchInput:focus {
  border-color: #9A7B4F;
  box-shadow: 0 0 8px rgba(154, 123, 79, 0.6); /* 포커스 상태에서 그림자 효과 추가 */
}

.searchButton {
  padding: 10px 15px;
  background-color: #9A7B4F;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.searchButton:hover {
  background-color: #836b4b; /* 버튼 호버 색상 변경 */
  transform: scale(1.05); /* 호버 시 버튼이 약간 커지도록 */
}
